<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Доска заметок</title>
</head>
<body>
<header>
    <h1>Доска заметок</h1>
</header>
<div id="app">
    <form @submit.prevent="createCard">
        <input type="text" v-model="cardTitle" placeholder="Заголовок" required class="input">
        <button type="submit" class="btn">Добавить</button>
    </form>
    <p v-if="errors.length">
        <b>Превышен размер задач:</b>
    <ul>
        <li v-for="error in errors">{{ error }}</li>
    </ul>
    </p>
    <div class="columns_row">
        <div class="columns">
            <div class="column" id="column1">
                <h2>Новые</h2>
                <div v-for="card in column1" :key="card.id" class="card">
                    <h3>{{ card.title }}</h3>
                    <ul>
                        <li v-for="item in card.items" :key="item.id">
                            <input type="checkbox" v-model="item.completed" :disabled="isDisabled">
                            <input type="text" v-model="item.cardText" required :disabled="isDisabled">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column" id="column2">
                <h2>Начатые</h2>
                <div v-for="card in column2" :key="card.id" class="card">
                    <h3>{{ card.title }}</h3>
                    <ul>
                        <li v-for="item in card.items" :key="item.id">
                            <input type="checkbox" v-model="item.completed">
                            <input type="text" v-model="item.cardText" required>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="column" id="column3">
                <h2>Законченные</h2>
                <div v-for="card in column3" :key="card.id" class="card">
                    <h3>{{ card.title }}</h3>
                    <div>Закончено: {{card.completedDate}}</div>
                    <ul>
                        <li v-for="item in card.items" :key="item.id">
                            <input type="checkbox" v-model="item.completed">
                            <input type="text" v-model="item.cardText" required>
                    </ul>
                </div>
            </div>
    </div>
    </div>
</div>
</body>
</html>